.bg-work-scheme {
    padding-block: 100px;
    background-image: url(/Images/background-work-scheme.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.work-scheme {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.work-scheme__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 10px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.work-scheme-cards__item-card {
    padding-top: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    min-width: 325px;
    height: 220px;
    gap: 5px;
    border-radius: 10px;
    z-index: 3;

    & img {
        position: absolute;
        min-height: 206px;
        top: 0;
        z-index: -1;
    }
}

.item-card__order {
    height: 50px;
    font-size: 1.875rem;
    color: var(--lavander);
}

.item-card__texts {
    width: 230px;
    height: 150px;

    .item-card__title {
        font-size: 1.125rem;
        font-weight: 700;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .item-card__text {
        font-size: 0.625rem;
        color: var(--lighter-gray);
    }
}

#bg-04, #bg-05 {
    min-width: 344px;
}

/* MEDIA */

@media (max-width: 1034px) {
    .item-card__texts {
        width: 188px;
    }
}

@media (max-width: 589px) {
    .work-scheme-cards__item-card {
        min-width: 270px;
    }

     #bg-04, #bg-05 {
        min-width: 280px;
     }
}
